@page 
@model Query_Logs_DCA.Pages.Queries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="Genre_of_Query" asp-items="Model.Category_of_Query">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].Title_of_Query)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].Category_of_Query)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].Rating_Complexity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Query) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title_of_Query)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_of_Query)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating_Complexity) 
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
